<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.example"/>

    <bean id="MyCar" class="org.example.Car"/>
    <bean id="MyBike" class="org.example.Bike"/>
    <bean id="MyTataHarrier" class="org.example.TataHarrier"/>
    <bean id="MyToyotaInnova" class="org.example.ToyotaInnova"/>
    <bean id="MyYamahaR15" class="org.example.YamahaR15"/>
    <bean id="MyRoyalEnfield" class="org.example.RoyalEnfield"/>

</beans>
